[Unit]
Description=uvicorn_deamon
After=network.target

[Service]
#ExecStartPre=-/usr/bin/bash -c 'mkdir -p /run/uwsgi; chown myappuser:nginx /run/uwsgi'
#ExecStart=/usr/bin/bash -c 'cd /var/www/daemon/code/; source /var/www/daemon/venv/bin/activate;  uwsgi --ini configs/uwsgi/daemon.ini'
#StandardOutput=/var/log/daemon.log
#StandardError=/var/log/daemon_error.log
#ExecStartPre=/bin/mkdir -p /run/uwsgi
#ExecStartPre=/bin/chown myappuser:myappuser /run/uwsgi
WorkingDirectory=/
LimitNOFILE=4096
ExecStart=/usr/local/bin/poetry run gunicorn main:app --workers 2 -k uvicorn.workers.UvicornWorker --bind unix:appname.sock --error-logfile /error_log.txt
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target